<!-- <nav class="bg-black">
  <div class="container m-auto text-white flex justify-between">

    <div>
      <a href="#" class="block px-7 py-5 font-bold">My Pagina</a>
    </div>

    <div class="flex">
      <a href="#" class="block p-5 hover:bg-gray-700">Inicio</a>
      <a href="#" class="block p-5 hover:bg-gray-700">Empresa</a>
    </div>

    <div>
      <a href="#">Inicio Sesion</a>
    </div>
  </div>
</nav> -->


 <nav class="bg-gray-100">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">

      <div class="flex space-x-4">
        <div>
          <a href="#" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
            <svg class="h-6 w-6 mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
            </svg>
            <span class="font-bold"><span class="text-red-600">Mi</span> Pagina</span>
          </a>
        </div>

        <div class="hidden md:flex items-center space-x-1">
          <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-300">Inicio</a>
          <a href="#" class="py-5 px-3 text-gray-700 hover:text-gray-300">Home</a>
        </div>
      </div>

      <div class="hidden md:flex items-center space-x-1">
        <a href="#" class="py-5 px-3">Login</a>
        <a href="#" class="py-2 px-3 bg-yellow-400 hover:bg-yellow-100 hover:text-yellow-800 rounded transition duration-300">Singuo</a>
      </div>

      <div class="md:hidden flex items-center">
        <button (click)='vermenu()' id="boton">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>

  <div *ngIf='ver' class="md:hidden">
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Inicio</a>
    <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Inicio</a>
  </div>
</nav> 

 <main class="p-2">
  <div class="flex justify-between shadow-lg p-2 h-20 border bg-gray-400 text-sm text-white items-center">
    <span>Hola Mundo</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
    <span>Hola ELLE</span>
  </div>
</main>

<div class="w-full flex">
  <div class="w-1/3 py-5 text-center bg-red-300">A</div>
  <div class="w-1/3 py-5 text-center bg-blue-300">A</div>
  <div class="w-1/3 py-5 text-center bg-green-300">A</div>
</div>

<br>


<div class="grid grid-cols-3">
  <div class="col-span-1 py-5 text-center bg-red-300">A</div>
  <div class="col-span-1 py-5 text-center bg-blue-300">A</div>
  <div class="col-span-1 py-5 text-center bg-green-300">A</div>
</div>

<br>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
  <div class="col-span-1 py-5 text-center bg-red-300">A</div>
  <div class="col-span-1 py-5 text-center bg-blue-300">A</div>
  <div class="col-span-1 py-5 text-center bg-green-300">A</div>
</div>


<br>

<div class=" flex flex-col lg:flex-row w-full  gap-2  ">
    <div class="flex gap-2 flex-col md:flex-row w-full">
      <div class="w-full md:w-1/2  py-5 p-5 text-center bg-red-300">A</div>
      <div class="w-full md:w-1/2  py-5 p-5 text-center bg-red-300">A</div>
    </div>
    <div class="flex gap-2 flex-col md:flex-row w-full">
      <div class="w-full md:w-1/2  py-5 p-5 text-center bg-blue-300">A</div>
      <div class="w-full md:w-1/2  py-5 p-5 text-center bg-red-300">A</div>
    </div>
</div>

<br>

<div>
  <p class="text-9xl text-green-400 font-bold">
    miguel
  </p>
</div> 
